<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
			processPath="D:\pyvenv\fastapi\Scripts\python.exe" 
			arguments="-m hypercorn app:app --bind 0.0.0.0:%HTTP_PLATFORM_PORT% --keep-alive 5 --worker-class asyncio --workers 1"
			stdoutLogEnabled= "true"
			stdoutLogFile="D:\CaptchaAppLogs\python-stdout.log"
			startupTimeLimit="120" 
			requestTimeout="00:05:00" 
			startupRetryCount="3" 
			processesPerApplication="5">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>